[submodule "bundle/solarized"]
  path   = bundle/solarized
  url    = https://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "bundle/nerdtree"]
  path   = bundle/nerdtree
  url    = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/vim-rails"]
  path   = bundle/vim-rails
  url    = https://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "bundle/supertab"]
  path   = bundle/supertab
  url    = https://github.com/ervandew/supertab.git
  ignore = dirty
[submodule "bundle/endwise"]
  path   = bundle/endwise
  url    = https://github.com/tpope/vim-endwise.git
  ignore = dirty
[submodule "bundle/vim-ruby"]
  path   = bundle/vim-ruby
  url    = https://github.com/vim-ruby/vim-ruby.git
  ignore = dirty
[submodule "bundle/vividchalk"]
  path   = bundle/vividchalk
  url    = https://github.com/tpope/vim-vividchalk.git
  ignore = dirty
[submodule "bundle/syntastic"]
  path   = bundle/syntastic
  url    = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "bundle/delimitMate"]
  path   = bundle/delimitMate
  url    = https://github.com/Raimondi/delimitMate.git
  ignore = dirty
[submodule "bundle/vim-fugitive"]
  path   = bundle/vim-fugitive
  url    = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/vim-rvm"]
  path   = bundle/vim-rvm
  url    = https://github.com/tpope/vim-rvm.git
  ignore = dirty
[submodule "bundle/ctrlp.vim"]
  path   = bundle/ctrlp.vim
  url    = https://github.com/ctrlp/ctrlp.vim.git
  ignore = dirty
[submodule "bundle/vim-coffee-script"]
  path   = bundle/vim-coffee-script
  url    = git://github.com/vim-scripts/vim-coffee-script.git
  ignore = dirty
[submodule "bundle/vim-gitgutter"]
  path   = bundle/vim-gitgutter
  url    = git@github.com:airblade/vim-gitgutter.git
  ignore = dirty
[submodule "bundle/vim-polyglot"]
  path   = bundle/vim-polyglot
  url    = https://github.com/sheerun/vim-polyglot.git
  ignore = dirty
